<div>
    <div class="feature-container">

        <div (click)="navigateToMarsWeather()" class="mars-feature-container"
            style="background-image: url('https://cdn.pixabay.com/photo/2020/09/11/20/33/mars-5564141_1280.jpg');">
            <h2>Mars Weather</h2>
            <div class="mars-weather-overlay"></div>
        </div>

        <div (click)="navigateToMarsPhotos()" class="mars-feature-container"
            style="background-image: url('https://cdn.pixabay.com/photo/2012/01/09/13/01/mars-11656_1280.jpg');">
            <h2>Mars Photos</h2>
        </div>

    </div>
</div>