<div>
    <div class="feature-container">
        <div (click)="navigateToMarsWeather()"
            class="mars-feature-container"
            style='
                background-image: url("https://cdn.pixabay.com/photo/2020/09/11/20/33/mars-5564141_1280.jpg");
                background-size: 100% 100%;
                background-repeat: no-repeat;
            '
        >
            <h2>Mars Weather</h2>
            <div
                style='
                    height: 80%;
                    width: 100%;
                    background-image: url("https://cdn.pixabay.com/photo/2014/04/02/10/14/cloud-303181_1280.png");
                    background-size: 20% 50%;
                    background-position: 75% 0%;
                    background-repeat: no-repeat;
                    opacity: 90%
                '
            >
            </div>
        </div>
        <div (click)="navigateToMarsPhotos()"
            class="mars-feature-container"
            style='
                background-image: url("https://cdn.pixabay.com/photo/2012/01/09/13/01/mars-11656_1280.jpg");
                background-size: 100% 100%;
                background-repeat: no-repeat;
            '
        >
            <h2>Mars Photos</h2>
        </div>
    </div>
</div>

