.weather-card {
  width: 100%;
  max-width: 400px;
  margin: auto;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.05); // lekko przeźroczyste tło
  border: 1px solid rgba(255, 255, 255, 0.2); // delikatne jasne obramowanie
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.1); // lekkie poświaty
  backdrop-filter: blur(4px); // efekt szkła (opcjonalnie)
  color: white;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.015);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  }

  mat-card-header,
  mat-card-content {
    padding: 16px;
  }
}

.weather-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;

  @media (max-width: 500px) {
    grid-template-columns: 1fr;
  }

  p {
    margin: 0;
    font-size: 14px;
  }
}

.note-actions {
  display: flex;
  gap: 8px;
  margin-top: 16px;
  flex-wrap: wrap;
}

.note-form {
  margin-top: 12px;

  .full-width {
    width: 100%;
  }

  button {
    margin-top: 8px;
  }
}

ul {
  padding-left: 16px;
  font-size: 14px;
  margin-top: 8px;

  li {
    margin-bottom: 8px;
  }
}

h4 {
  padding-top: 8px;
}

