div {
    height: 20rem;
    width: 35rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    border: 0.1rem solid white;
    border-radius: 1rem;
}

@media screen and (min-width: 1024px) {
  div:hover {
    transform: scale(1.5);
    margin-bottom: 5rem;
  }
}