header {
    width: 80%;
    margin: 0 auto;
}

main {
    height: 100vh;
}

footer {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background: #f8f8f8;
  color: #212121;
}

* {
  box-sizing: border-box;
}